.primaryTitle {
  font: 125px $permanent;
  color: $blanc;
}

.presentationContent {
  font: 24px $poppins;
  color: $noir;
}

.buttonText {
  font: 18px $worksans;
  color: $noir;
}

// Graisse
.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}
